<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">	

   		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" 
   			  p:locations="classpath:webtop-configuration.properties" />
 		

		<bean id="FileExplorerService" class="com.gtech.iarc.demo.web.FileExplorerService">
			<property name="fileExplorerPath" value="${webtopdemo.fileexplorer.filePath}" />
		</bean>
		
		<bean id="WebtopProvider" class="com.gtech.iarc.demo.DemoAppWebtopProvider">
			<property name="customTemplateModel">
				<map> 
					<entry key="title" value="${webtop.workspace.title:WEBTOP_DEMO}"/>
				</map>				
			</property>
		</bean>  
			  <!--p:workspaceHelper-ref="WorkspaceHelper"/> ${webtop.workspace.title:WEBTOP_DEMO} -->
		
		<!-- 
		<import resource="/webtop-security.xml" />
		 -->
</beans>