.iarc-view-msg {
    background: no-repeat left;
    padding: 0px 0px 0px 22px;    
    line-height: 14px;
    background-position: 0px 0px;
}

.iarc-view-msg-no-icon {
	background: 0 !important;
	padding-left: 0 !important;
}

.iarc-view-msg .x-tool {
	margin-left: 10px;
}

.iarc-view-exception-msg-body {
	height: 40px;
	overflow-y: auto;
}

.iarc-view-msg-body {
	height: 20px;
}

.iarc-view-msg-loading-icon {
	background-image: url(images/loading-indicator.gif) !important;	
}