.gtech-blue .iarc-view-header-toolbar {
	background: url(images/search-toolbar-bg.gif) 0 0 repeat-x;
	border: 0 !important;
}

.gtech-blue .iarc-view-header-toolbar-text {	
	font: 14px verdana, arial,tahoma,helvetica,sans-serif;	
	font-weight: bold;	
	color: #3F4145
}

/* Combo boxes */ 
.gtech-blue .x-small-editor .x-form-field {
	font-size: 12px;
}

.gtech-blue .x-small-editor .x-form-text {
	height: 21px;
	line-height: 17px;
}

/* Accordion Panel */
.gtech-blue .x-accordion-hd {
	font: 12px tahoma,arial,verdana,sans-serif;
	color: #fff;	
	background: url(images/panel-header-bg.gif) 0 0 repeat-x !important;	
	padding: 7px 10px 8px 10px;	
	border: 0;
}

.gtech-blue .x-panel-body {
	border-color: #f6f6f6;
}

.gtech-blue .x-accordion-hd .x-tool-toggle-over,
.gtech-blue .x-accordion-hd .x-tool-toggle {
	background-position: 0px 0px;
	background-image: url(images/tool-toggle.png);
}

.gtech-blue .x-panel-collapsed .x-accordion-hd .x-tool-toggle {
	background-position: 0px 0px;
	background-image: url(images/tool-toggle-collapsed.png);
}

/* Bullet Arrow */
.bullet-arrow {
	background: url(images/bullet-arrow.png) 0 0 no-repeat;
}

.gtech-blue .iarc-profile-right-links a:link,
.gtech-blue .iarc-profile-right-links a:active,
.gtech-blue .iarc-profile-right-links a:visited {
	background-position: 0px 5px !important;
	padding-left: 10px;
	color: #205f8b;
	font: bold 13px arial,tahoma,helvetica,sans-serif;	
	text-decoration: none;
}

.gtech-blue .iarc-profile-right-links a:hover {
	text-decoration: underline;
}

/* Override Shutdown Button */
.xwt-shutdown-button{
      background-image: url(images/header/white/logout.png) !important;
      width: 32px !important;
      height: 32px !important;
}

.xwt-shutdown-button-container .x-btn-over .x-btn-text {
      background-image: url(images/header/blue/logout.png) !important;
      width: 32px !important;
      height: 32px !important;
}


.gtech-blue .iarc-profile-info-message {
	background-color : #668AB1;
	height : 76px;
	width: 329px;
	font: italic 14px arial;	
	color: #FFFFFF;
	text-align:left;
	padding-top:10px;
	padding-left:10px;
	margin-bottom:10px;
}

.gtech-blue .iarc-profile-info-message a:link,
.gtech-blue .infoMessage a:active,
.gtech-blue .infoMessage a:visited {
	background-position: 0px 5px !important;
	padding-left: 0px;
	color: #FFFFFF;
	font: bold 13px arial,tahoma,helvetica,sans-serif;	
	text-decoration: none;
}

.gtech-blue .iarc-profile-info-message a:hover {
	text-decoration: underline;
}

