body {
	background:transparent;
}

.x-border-layout-ct {
	background-color: #87888A !important;
}


#xwt-viewport-deskspace {
	background: transparent;
}

#xwt-loader {
	z-index: 40001;
	align:center;
	width: 220px;
	height: 220px;
	background: #ffffff url(images/splash/gtech_logo_220.png) no-repeat;
}

#xwt-loader-icon {
	position: absolute;
	background: transparent;
}

#xwt-viewport-deskspace .x-panel-body {
    background:transparent !important;
    border: 0 none;
}

.xwt-menu-text {
	color: #000 !important;
	font-weight: bold !important;
}


.iarc-main-layout-side-border {
    border: 0 none;
}

.iarc-main-topbar-title {
	color: ##404245 important;
	font-family: Verdana,Tahoma,Arial,Sans-Serif !important;
	font-weight: bold !important;	
	font-size: 2em !important;
}

.iarc-main-layout-side-border-transparent {
	border-color: #87888a !important; 
}

.toolbar-menu-tooltip {
	font-weight: bold;
	font-size: 1.4em;
}

/* Toolbar */
.iarc-main-footerbar {
	background: none !important;
	background-color: #87888A !important;
	
}

#iarc-main-top-textbar {
	background-color: #F1F1F1 !important;
}

#iarc-main-top-textbar a {
	padding: 2px;
	color: #828486;
	text-decoration: none;
}

#iarc-main-footer {
	padding-top: 10px;
}

#iarc-main-footer a {
	padding: 3px;
	color: #C3C3C4 !important;
	font-weight: bold !important;
	text-decoration: none;
}

#iarc-main-footer a:hover {
	color: #E1E1E2 !important;
	font-weight: bold !important;
}

.copyrightText {
	padding-top: 10px;
	color: #C3C3C4 !important;
	font-weight: bold !important;
	padding-bottom: 20px;
}

#iarc-main-top-textbar a:hover {
	background-color: #E1E1E2;
	text-decoration: none;
}

#iarc-main-topbar {
	background-color: #fff !important;
	height: 57px !important;
}

#iarc-main-topbar img {
	position: relative;
	bottom:7px;
}

#iarc-main-toolbar {
	background: #fff url(images/toolbar-bg.gif) 0 0 repeat-x !important;
	padding: 0px 0px 2px 0px !important;	
}

#iarc-main-toolbar .x-btn-icon .x-btn-large .x-btn-text {
	width: 44px;
	height: 34px;
}

.iarc-toolbar-btn-search .x-btn-over .x-btn-text {
	background-image: url(images/header/blue/search.png) !important;
}

.iarc-toolbar-btn-logbook .x-btn-over .x-btn-text  {
	background-image: url(images/header/blue/states.png) !important;
}

.iarc-toolbar-btn-billing .x-btn-over .x-btn-text  {
	background-image: url(images/header/blue/calc.png) !important;
}

.iarc-toolbar-btn-profile .x-btn-over .x-btn-text  {
	background-image: url(images/header/blue/profile.png) !important;
}


.iarc-toolbar-btn-search .x-btn {
	background: url(images/header-btn-bg-leftmost.gif) 0 0 no-repeat;
}

.iarc-toolbar-btn-logbook .x-btn,
.iarc-toolbar-btn-billing .x-btn {
	background: url(images/header-btn-bg.gif) 0 0 no-repeat;
}

.iarc-toolbar-btn-profile .x-btn {
	background: url(images/header-btn-bg-rightmost.gif) 0 0 no-repeat;
}

#iarc-main-toolbar .x-btn-over {
	background: url(images/toolbar-bg-over.gif) 0 0 repeat-x;
}


.iarc-main-toolbar .x-btn-over .x-btn-tl{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-tr{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-tc{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-ml{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-mr{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-mc{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-bl{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-br{ background: 0 !important; }
.iarc-main-toolbar .x-btn-over .x-btn-bc{ background: 0 !important; }
