/* Buttons */
.gtech-blue .x-btn button {
	font-weight: bold !important;
}

.gtech-blue .x-btn-noicon .x-btn-small .x-btn-text {
	height: 18px;
}


/* Button Enabled */
.gtech-blue .iarc-view-header-toolbar .x-btn-tl{ background-position: 0 0; }
.gtech-blue .iarc-view-header-toolbar .x-btn-tr{ background-position: -3px 0; }
.gtech-blue .iarc-view-header-toolbar .x-btn-tc{ background-position: 0 -6px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-ml{ background-position: 0 -24px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-mr{ background-position: -3px -24px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-mc{ background-position: 0 -1096px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-bl{ background-position: 0 -3px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-br{ background-position: -3px -3px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-bc{ background-position: 0 -15px; }

.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-tl{ background-position: -6px 0; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-tr{ background-position: -9px 0; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-tc{ background-position: 0 -9px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-ml{ background-position: -6px -24px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-mr{ background-position: -9px -24px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-mc{ background-position: 0 -2168px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-bl{ background-position: -6px -3px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-br{ background-position: -9px -3px; }
.gtech-blue .iarc-view-header-toolbar .x-btn-over .x-btn-bc{ background-position: 0 -18px; }



.gtech-blue .x-btn-tl, 
.gtech-blue .x-btn-tr, 
.gtech-blue .x-btn-tc, 
.gtech-blue .x-btn-ml, 
.gtech-blue .x-btn-mr, 
.gtech-blue .x-btn-mc, 
.gtech-blue .x-btn-bl, 
.gtech-blue .x-btn-br, 
.gtech-blue .x-btn-bc {
	background-image: url(images/btn.gif) !important;
}

.gtech-blue .x-btn-text {
	color: #666;
}

.gtech-blue .x-btn-over .x-btn-text,
.gtech-blue .x-btn-click .x-btn-text, 
.gtech-blue .x-btn-menu-active .x-btn-text, 
.gtech-blue .x-btn-pressed .x-btn-text {
	color: #fff !important;
}